
<table class="table">
  <tbody>
    <tr>
      <td>Длина</td>
      <td>{{product.lenght}}</td>
    </tr>
     <tr>
      <td>Ширина</td>
      <td>{{product.width}}</td>
    </tr>
     <tr>
      <td>Материал</td>
      <td>{{product.material}}</td>
    </tr>
     <tr>
      <td>Тайтл</td>
      <td>{{product.Anime}}</td>
    </tr>
     <tr>
      <td>Производство</td>
      <td>{{product.production}}</td>
    </tr>
     <tr>
      <td>Бренд</td>
      <td>{{product.brand}}</td>
    </tr>
  <tr>
  </tbody>
</table>
